.idea
venv

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# local env file
*.env

# jupyter checkpoints
*.ipynb_checkpoints/

# Mac DS_Store 
.DS_Store

# sprint 4 chroma db
sprint_4/chroma_db
